{% extends 'douyin/base.html' %}
{% load humanize %}
{% load static %}


{% block navbar %}
<nav class="navbar navbar-light navbar-expand-md" style="margin: 20px 40px;">
    <div class="container-fluid"><a class="navbar-brand" href=""
            style="color: var(--light);font-size: 35px;">TapGo</a><button data-toggle="collapse" class="navbar-toggler"
            data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid shadow-none" style="padding: 0 0;padding-bottom: 5px;">
    <!-- Start: row-form-login -->
    <div class="row d-flex justify-content-lg-center mb-3" style="margin: 0 auto;width: 100%;">
        <div class="col-lg-4 col-sm-2 col-12 col-md-3"></div>
        <div class="col-lg-4 col-12 col-sm-8 col-md-6">
            <div class="shadow-sm p-5" style="border-radius: 25px;background: var(--white);margin: 40px 0;">
                <div class="text-center">
                    <h4 class="text-dark mb-4" style="color: rgb(0,0,0);">Dán liên kết video vào đây</h4>
                </div><!-- Start: form-login -->
                <form method="post" action="{% url 'upload' %}" class="user" style="margin-top: 40px;">
                    {% csrf_token %}
                    <!-- Start: user -->
                    <div class="form-group row">
                        <input name="url" id="loginUsername" class="form-control form-control-user" type="text"
                            placeholder="Liên kết">
                    </div><!-- End: user -->
                    <!-- Start: btn-login -->
                    <button class="btn btn-primary btn-block text-white btn-user" type="submit"
                        style="margin-top: 40px;">
                        Tải video không logo
                    </button><!-- End: btn-login -->
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert" style="margin: 20px">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <hr>
                </form><!-- End: form-login -->
            </div>
        </div>
        <div class="col-lg-4 col-sm-2 col-12 col-md-3"></div>
    </div><!-- End: row-form-login -->
</div>
{% endblock %}